# database information
#for now it's usable for mysql / mariadb but it doesn't work with "schemaed" db like pgsql
DB_HOST = 
DB_USER = 
# DB_PWD =
DB_NAME = 
DB_PORT = 
DB_TYPE = 

# API informations
API_NAME =  #remember : no spaces
API_URL = 

# login & JWT informations
SECRET_KEY = 
USER_TABLE = 